<h1>{{profesor.header}}</h1>
<p>Soy tu profesor y me llamo{{profesor.name}} y toco muy bien el instrumento {{profesor.category}}</p>
<p>{{profesor.description}}</p>
<p>{{profesor.mail}}</p>
<img src="{{profesor.imageUrl}}" alt="image-background">
<img src="{{profesor.imageProfile}}" alt="profile-image">

{{!-- //localización --}}

<p class="coordinates">{{profesor.location.coordinates}}</p>

<div id="map"></div>

<form action="/detail/{{profesor._id}}/match" method="post">
   <button  class= "btn btn-primary" type="submit">Teach Me</button>
</form>


<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

<script src="/javascripts/map.js"></script>
